/* ///////////////////////////////////// */
/* ///////////    DEFAULT     ////////// */
/* ///////////////////////////////////// */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	outline: none;
}
/* #region variables*/
:root { 
	--white: #fff;
	--gray: rgb(35, 35, 35);
	--gray-transparent: rgba(35, 35, 35, .8);
	--light-gray: rgb(48, 48, 48);
	--dark-gray1: #303030;
	--dark-gray2: #2a2e35;
	--black: rgb(25, 25, 25);
	--dark-blue1: #1d1b27;
	--dark-blue2: rgb(73, 97, 220);
	--cloud-blue1: rgb(26, 51, 177);
	--cloud-blue2: #93b2ff;
	--cloud1: #f1f8ff;
	--cloud2: #ebf2f7;
	--cloud3: #c3e3ff;
}
.light { 
	--bg: var(--white); 
	--bg-nav: var(--white);
	--bg-project1: var(--cloud1);
	--bg-project2: var(--cloud2);
	--bg-project3: var(--light-gray);
	--bg-splash: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PSc1MCcgdmlld0JveD0nMCAwIDkwIDkwJz48Y2lyY2xlIGZpbGw9JyNmNWY1ZjUnIGN4PSc0NScgY3k9JzQ1JyByPScxMCcvPjwvc3ZnPg==");
	--bg-switch: var(--cloud3);
	--text: var(--dark-blue1);
	--text-header: var(--dark-blue2);
	--nav-a: var(--cloud-blue1);
	--nav-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.dark { 
	--bg: var(--black); 
	--bg-nav: var(--dark-gray1);
	--bg-project1: var(--light-gray);
	--bg-project2: var(--light-gray);
	--bg-project3: var(--light-gray);
	--bg-splash: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PSc1MCcgdmlld0JveD0nMCAwIDkwIDkwJz48Y2lyY2xlIGZpbGw9J3JnYigzNSwgMzUsIDM1LCAwLjgpJyBjeD0nNDUnIGN5PSc0NScgcj0nMTAnLz48L3N2Zz4=");
	--bg-switch: gray;
	--text: var(--white);
	--text-header: var(--cloud-blue2);
	--nav-a: var(--white);
	--nav-shadow: rgba(0, 0, 0, 0.40) 0px 5px 10px;
}
html {
	scroll-behavior: smooth;
}
body {
	color: var(--text);
	background-color: var(--bg);
	font-family: 'Questrial','Montserrat', sans-serif;
	font-size: 13pt;
	overflow-x: hidden;
}
ul {
	padding-left: 15px;
}
div {
	width: 100%;
	position: relative;
	box-sizing: border-box;
}
main {
	width: 65%;
	margin: 0 auto;
	counter-reset: section;
	position: relative;
}
/* ///////////////////////////////////// */
/* ///////////     NAVBAR     ////////// */
/* ///////////////////////////////////// */
div.navWrapper {
	background-color: var(--bg-nav);
	height: 60px;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: var(--nav-shadow);
}
div.navBox {
	display: flex;
	justify-content: space-between;
	font-family: 'Questrial',"Montserrat", sans-serif;
	width: 90%;
	align-items: center;
	margin: 0 auto;
	height: 60px;
}
a {
	outline: 0;
	-moz-outline: 0;
	cursor: pointer;
	color: var(--text-header);
}
nav {
	overflow: hidden;
	text-align: right;
	padding-right: 5px;
}
nav a {
	display: inline-block;
	font-size: .85rem;
	padding: 0 20px;
	line-height: 36px;
	border-radius: 4px;
	border: 1px solid rgba(255,255,255,0);
	transition: ease .3s background-color, ease .3s border;
	font-weight: 600;
	color: var(--nav-a);
	text-decoration: none;
}
nav a:hover {
	background-color: rgba(224,224,224,.5);
}
div.logoWrapper {
	width: 50px;
}
div.navBox .logo {
	display: block;
	position: relative;
}
.logo > img {
	width: 50px;
	height: 50px;
}
/* Switch */
input#switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
input#switch + label {
	cursor: pointer;
	width: 55px;
	height: 30px;
	transform: translateY(10px);
	background: var(--bg-switch);
	border-radius: 100px;
	position: relative;
	color: transparent;
	display: inline-block;
}
input#switch + label::after {
	content: attr(theme);;
	color: #000;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	background: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	transition-duration: .7s;
}
input#switch:checked + label::after {
	transform: translateX(86%);
}
/* Hamburger-icon */
label.burger {
	display: block;
}
span.burger {
	top: 6px;
	right: 20px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: absolute;
	z-index: 420;
	text-decoration: none;
	background: linear-gradient(134deg, rgb(141, 175, 238) 0%, rgb(113, 132, 228) 99%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
span.bar1, span.bar2, span.bar3 {
	display: block;
	width: 22px;
	height: 3px;
	background-color: white;
	margin: 3px auto;
	transition: 0.4s;
}
input#burger:checked + label span.bar1 { transform: rotate(-45deg) translate(-5px, 5px); }
input#burger:checked + label span.bar2 { opacity: 0; }
input#burger:checked + label span.bar3 { transform: rotate(45deg) translate(-3px, -4px); }
input#burger:checked ~ nav {
	opacity: 1;
	pointer-events: all;
	transform: translateX(0);
}
input#burger { display: none; }
span.hiddenAnchor {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	top: -70px;
}
/* ///////////////////////////////////// */
/* ///////////     SPLASH     ////////// */
/* ///////////////////////////////////// */
div.splash {
	height: 100vh;
	padding-top: 30px;
	background-color: var(--bg);
	background-image: var(--bg-splash);
	text-align: center;
}
div.splash > div.center {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--text);
	transform: translate(-50%,-50%);
}
div.splash > div.center > p {
	font-family: 'Indie Flower', cursive;
	font-size: 1.5rem;
}
h1 {
	text-align: center;
	font-size: 2rem;
	font-family: "Montserrat", sans-serif;
	color: var(--text-header);
}
h2 {
	text-align: center;
	color: var(--text-header);
}
div.heading {
	text-align: center;
	font: 900 5vw 'Lilita One', cursive;
	z-index: 2;
}
a.contactIcon {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: white;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	transition-duration: .4s;
}
a.contactIcon:hover {
	z-index: 1;
	transform: scale(1.1);
}
/* ///////////////////////////////////// */
/* ///////////      MAIN      ////////// */
/* ///////////////////////////////////// */
div.section1, div.section2, div.section3, 
div.section4, div.section5 {
	padding-top: 30px;
	padding-bottom: 20px;
}

div.skillWrapper {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(6, 90px);
	justify-content: center;
	justify-items: center;
	margin-bottom: 45px;
}
div.skillWrapper > a.icon {
	margin: 10px 20px;
}
a.bigicon {
	display: inline-block;
	cursor: default;
	width: 64px;
	height: 64px;
	border-radius: 5px;
	padding: 2px;
	margin: 5px 1px;
	transition: filter .2s;
}

/* ///////////////////////////////////// */
/* ///////////    SECTIONS    ////////// */
/* ///////////////////////////////////// */
div.canvas {
	text-align: left;
}
.numberedHeading {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	margin: 10px 0px 40px;
	width: 100%;
	white-space: nowrap;
}
.numberedHeading::before {
	position: relative;
	bottom: -2.5px;
	counter-increment: section;
	content: "0" counter(section) ".";
	margin-right: 10px;
	font-size: 1.4rem;
	font-weight: 400;
}
.numberedHeading::after {
	content: "";
	display: block;
	position: relative;
	width: 200px;
	height: 1px;
	margin-left: 20px;
	background-color: rgba(73, 97, 220, .3)
}
.numberedHeading.overline::before {
	bottom: 0;
}
.numberedHeading.overline {
	display: block;
	bottom: 0;
	text-align: center;
	margin-bottom: 10px;
}
.numberedHeading.overline::after {
	display:none;  
}
div.canvas canvas, div.canvas svg {
	background-color: rgba(240, 248, 255, 0.5);
	position: relative;
	z-index: 0;
}
div.section {
	display: inline-grid;
	grid-template-columns: repeat(2,1fr);
	margin-bottom: 150px;
}
div.section > div {
	display: flex;
	align-items: center;
	justify-content: center;
}
div.section h2 {
	text-align: left;
	padding: 10px 0;
}
div.section div.artwork::before {
	content: "#Featured Project";
	position: absolute;
	width: 40%;
	height: 17px;
	top: -30px;
	left: -20px;
	font-size: 9pt;
	font-weight: 900;
	border-bottom: 2px solid var(--text-header);
	z-index: -1;
	font-family: 'Montserrat', sans-serif;
}
div > div.imgWrapper {
	width: 100%;
	height: 240px;
	position: relative;
}
div.imgWrapper > img {
	max-width: 320px;
	max-height: 320px;
	width: 95%;
	border-radius: 10px;
}
div.imgPreview {
	position: relative;
	max-width: 320px;
	height: 195px;
	background-color: black;
	background: url("img/preview2.png");
	margin: 0 auto;
}
div.imgPreview > img.one {
	position: absolute;
	top: 21px;
	left: 28px;
	width: 189px;
	height: 122px;
	border: 3px solid black;
}
div.imgPreview > img.two {
	position: absolute;
	top: 98px;
	right: 38px;
	width: 44px;
	height: 69px;
	border: 2px solid black;
}
div.artworkWrapper {
	height: 100%;
}
div.artwork {
	display: grid;
	height: 100%;
	transform: translate(-10%,0);
}
div.artwork > div {
	padding: 10px 0;
}
div.artwork > div.quote {
	border-radius: 10px;
	background-color: var(--bg-project1);
	padding: 20px;
}
div.artwork > div.description {
	background-color: var(--bg-project2);
	border-radius: 5px;
	transform: translate(10%,0);
	margin-top: 10px;
	padding: 10px;
}
div.section.reverse h2 {
	text-align: right;
	padding: 10px 0;
}
div.section.reverse div.artwork::before {
	content: "#Featured Project";
	position: absolute;
	width: 40%;
	height: 17px;
	top: -30px;
	right: -20px;
	left: auto;
	font-size: 9pt;
	font-weight: 900;
	border-bottom: 2px solid var(--text-header);
	z-index: -1;
	font-family: 'Montserrat', sans-serif;
}
div.section.reverse > div.canvas {
	order: 1;
	text-align: right;
}
div.section.reverse div.artwork {
	transform: translate(60px,0);
	text-align: right;
}
div.section.reverse div.artwork > div.description {
	transform: translate(-60px,0);
}
div.section.reverse div.artwork > div.quote {
	text-align: left;
}
div.aboutWrapper {
	margin: 10px 0;
}
/* Smool */
div.projectSmallContainer {
	margin: 0 auto;
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
	flex-direction: row;
}
div.projectSmallContainer > div.projectWrapper > div {
	display: flex;
	flex-direction: column;
	padding: 0;
	border-radius: 2px;
}
div.projectWrapper > div > img {
	border-radius: 5px 5px 0 0;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
	background-color: rgb(35, 35, 35);
}
p.projectTitle {
	color: white;
}
div.projectSmallContainer div.projectInfoWrapper {
	border-radius: 0 0 5px 5px;
	display: flex;
	width: 100%;
	padding: 5px 5px 5px 15px;
	flex-direction: column;
	background-color: var(--bg-project3);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
	margin-top: 10px;
}
div.projectSmallContainer div.projectInfoWrapper > p.projectTitle {
	font-size: 1.2rem;
	width: 100%;
	height: 60px;
}
div.projectSmallContainer div.projectInfoWrapper > div.iconWrapper {
	text-align: right;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 5px;
}
.icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	padding: 2px;
	margin: 5px 1px;
	transition-duration: .5s;
	color: white;
}
.icon > svg {
	fill: currentColor;
}
div.section div.iconWrapper {
	position: absolute;
	bottom: 0;
	left: 10px;
}
div.section.reverse div.iconWrapper {
	left: auto;
	right: 10px;
	text-align: right;
}
div.section .icon {
	color: black;
	background-color: #c3e3ff;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 8px 20px 0 rgba(33, 69, 89, 0.1);
}
.icon:hover, .icon:focus,
div.section .icon:hover, div.section .icon:focus {
	color: rgb(110 155 255);
}
div.section .icon:hover, div.section .icon:focus {
	background-color: rgba(240, 248, 255, 0.5);
	box-shadow: 0 4px 20px 0 rgba(33, 69, 89, 0.25);
}
.icon.disabled {
	opacity: 0.3;
	cursor: auto;
}
.icon.disabled:hover, .icon.disabled:focus {
	color: white;
}
.info2 {
	text-align: center;
	padding: 10px;
	width: 70%;
	margin: 10px auto 0 auto;
}
.resumee {
	border: 1px solid var(--nav-a);
}
/* ///////////////////////////////////// */
/* ///////////     FOOTER     ////////// */
/* ///////////////////////////////////// */
footer {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: .95rem;
	background-color: var(--bg);
	color: #1d1b27;
	padding-top: 80px;
	text-align: center;
	height: 50px;
	overflow-y: hidden;
}
footer p {
	position: relative;
	z-index: 1;
	font-size: .9em;
	color: white;
}
/* ///////////////////////////////////// */
/* ///////////     BUTTON     ////////// */
/* ///////////////////////////////////// */
.button {
	display: block;
	box-sizing: border-box;
	color: rgb(248, 248, 248);
	cursor: pointer;
	width: 200px;
	margin: 10px auto;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
	transition: all 0.2s ease 0s;
	border: none;
	padding: 12px;
	border-radius: 5px;
	text-decoration: none;
}
.button:hover {
	color: rgb(248, 248, 248);
	transform: scale(1.05);
	background: linear-gradient(99deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 130%);
}
canvas#wave {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
	width: 100%;
	opacity: .8;
}
@media only screen and (max-width: 1580px) {
	main {
		width: 90%;
	}
}
/* ///////////////////////////////////// */
/* ///////////     MOBILE     ////////// */
/* ///////////////////////////////////// */
@media only screen and (max-width: 1000px) {
	div.section {
		grid-template-columns: initial;
		grid-template-rows: repeat(2,1fr);
	}
	div.section > div {
		order: 2;
	}
	div.section.reverse > div.artworkWrapper {
		order: 3;
	}
	div.canvas canvas, div.canvas svg {
		width: 100%;
	}
	div.artwork,
	div.artwork > div.description,
	div.section.reverse div.artwork,
	div.section.reverse div.artwork > div.description,
	div.section.reverse h2 {
		transform: initial;
		text-align: left;
	}
	div.section div.artwork::before,
	div.section.reverse div.artwork::before {
		left: 0;
		right: initial;
	}
	div.section div.iconWrapper {
		right: 0;
		left: auto;
		text-align: right;
	}
	div.projectSmallContainer {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 800px) {
	canvas#wave {
		width: 150%;
	}
	div.navBox {
		padding: 15px 0 10px 0;
		width: 100%;
	}
	div.popup > div {
		width: 90%;
		height: 90%;
	}
	div.logoWrapper {
		padding-left: 20px;
	}
	span.burger {
		display: flex;
	}
	nav {
		position: absolute;
		opacity: 0;
		pointer-events: none;
		background-color: var(--bg-nav);
		border-radius: 8px 30px 8px 8px;
		top: 20px;
		right: 20px;
		transform: translateX(110%);
		opacity: 0;
		transition: all .6s ease;
		pointer-events: none;
		overflow: hidden;
		text-align: left;
		width: 120px;
		box-shadow: var(--nav-shadow);
	}
	.resumee {
		border: 1px solid transparent;
	}
	input#switch {
		display: none;
	}
	input#switch + label {
		margin: 5px 10px;
		transform: translateY(-2px);
	}
	nav a {
		display: block;
		padding: 0 10px;
		border-radius: 0;
		width: 100%;
	}
	nav a:first-child{
		margin-top: 10px;
	}
	nav a:last-child{
		margin-bottom: 10px;
	}
	div.skillWrapper {
		grid-template-columns: repeat(3, 128px);
	}
	div > div.projectInfoContainer {
		order: 2;
		width: 100%;
		padding: 60px 25px 25px 25px;
		min-height: 240px;
		border-radius: 0 0 10px 10px;
	}
	div.projectInfoContainer > div.projectInfoWrapper {
		width: 100%;
	}
	div.projectInfoContainer > div.projectTags {
		position: relative;
		padding-top: 15px;
	}
	div.projectSmallContainer {
		grid-template-columns: 1fr;
	}
}
