---
import Layout from "../layouts/Layout.astro";
import BentoGrid from "../layouts/Home/BentoGrid";
import Experience from "../layouts/Home/Experience";
import Projects from "../layouts/Home/Projects";
import { HeroLottieWrapper } from "../components/HeroLottieWrapper";
import { HeroLottie } from "../components/HeroLottie";
---

<Layout title="Jonny Ngo Luong">
  <main
    id="home"
    class="w-full sm:w-[calc(100%-2rem)] overflow-x-hidden sm:overflow-x-visible"
  >
    <div class="h-screen">
      <HeroLottieWrapper client:load />
      <HeroLottie client:only />
    </div>
    <BentoGrid client:visible />
    <Experience client:load />
    <Projects client:load />
  </main>
</Layout>

<style></style>
