---
import Layout from '../layouts/Layout.astro';
import Hero from '../layouts/Home/Hero';
import BentoGrid from '../layouts/Home/BentoGrid';
import Experience from '../layouts/Home/Experience';
import Projects from '../layouts/Home/Projects';
---

<Layout title="Jonny Ngo Luong">
  <main id="home">
    <!-- Hero -->
    <Hero />
    <!-- Bento grid -->
    <BentoGrid />

    <!-- Experience list -->
    <Experience />

    <!-- Projects -->
    <Projects />
  </main>
</Layout>

<style></style>
