---
import Footer from './Footer';
import Navigation from './Navigation';
import ScrollBar from '../components/ScrollBar';
// import Lenis from '@studio-freight/lenis';
// import { ViewTransitions } from 'astro:transitions';
import Spotlight from '../components/Spotlight';

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-primary-900">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline src="/lenis.min.js"></script>
    <script is:inline>
      const lenis = new Lenis({
        // duration: 1.125,
        orientation: 'vertical',
        smoothWheel: true,
        wheelMultiplier: 0.65,
        // smoothTouch: false,
        infinite: false,
        duration: 1.125,
        easing: (t) => (t === 1 ? 1 : 1 - Math.pow(2, -10 * t)),
        direction: 'vertical',
        gestureDirection: 'vertical',
        smooth: true,
        smoothTouch: false,
        touchMultiplier: 2,
      });
      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }
      requestAnimationFrame(raf);
    </script>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <a
      href="#content"
      onclick="lenis.scrollTo('#content', {offset: -95, duration: 1})"
      class="absolute left-0 top-0 block -translate-x-full rounded bg-primary-700 px-4 py-3 text-sm font-bold uppercase tracking-widest text-white transition-transform focus-visible:translate-x-0"
      >Skip to Content</a
    >
    <Spotlight client:only />
    <Navigation client:load />
    <slot />
    <Footer client:visible />
    <ScrollBar client:load />

    <style is:global>
      @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:wght@400;500;700&display=swap');
      * {
        box-sizing: border-box;
      }
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
        --fancy-font: 'Gochi Hand', cursive;
      }
      html {
        font-family: 'Inter', sans-serif;
      }
      html::-webkit-scrollbar {
        width: 10px;
      }
      html::-webkit-scrollbar-track {
        background-color: #0e0a25;
        background-color: rgba(0, 0, 0, 0.5);
      }
      html::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      html::-webkit-scrollbar-thumb {
        border: 1px solid #2b2642;
        background-color: #2b2642;
        border-radius: 4rem;
      }
      html::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
      pre::-webkit-scrollbar {
        width: 19px;
        height: 11px;
      }
      body {
        overflow-y: auto;
        overflow-x: hidden;
      }
      main {
        margin: auto;
        padding: 1rem;
        width: calc(100% - 2rem);
        max-width: 900px;
        min-height: calc(100vh - 4rem - 4rem);
        line-height: 1.6;
        color: white;
        padding-bottom: 10rem;
        position: relative;
        z-index: 20;
      }
      ul {
        padding-left: 1rem;
        list-style: disc;
      }
      .fancy-font {
        font-family: var(--fancy-font);
      }
      .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        background-size: 400%;
        background-position: 0%;
      }
    </style>
  </body>
</html>
